.topic-area {
  .topic-post {
    margin-bottom: var(--space-4);
  }

  .topic-post article.boxed {
    box-sizing: border-box;
    width: calc(
      var(--topic-body-width) + var(--topic-avatar-width) +
        (var(--topic-body-width-padding) * 2) + (var(--space-5) * 2)
    );
    max-width: 100%;
    background: var(--ea-card-bg);
    border: 1px solid var(--ea-border);
    border-radius: var(--d-border-radius);
    padding: var(--space-5) var(--space-5) var(--space-3);

    --content-border-color: transparent;
  }
}
